@charset "UTF-8";

/* 字体定义 */

/* 宋体，使用 方正兰亭刊宋_GBK */
@font-face {
  font-family: "SongTi";
  src: url("../fonts/FZLTKSK.TTF");
}

/* 黑体，使用 方正兰亭刊黑_GBK */
@font-face {
  font-family: "HeiTi";
  src: url("../fonts/FZLTKHK.TTF");
}

/* 楷体，使用 方正楷体_GBK */
@font-face {
  font-family: "KaiTi";
  src: url("../fonts/FZKTK.TTF");
}

/* 仿宋，使用 方正仿宋_GBK */
@font-face {
  font-family: "FangSong";
  src: url("../fonts/FZFSK.TTF");
}