@charset "UTF-8"; /* 排版样式 */
@page {
    size: A4 portrait;
    margin-top: 20mm;
    margin-bottom: 15mm;
    margin-inside: 21mm;
    margin-outside: 16mm;
    /* 如果要每页重置脚注号可以使用以下样式 */
    /* counter-reset: footnote; */
}

/* 正文页面，左侧页样式 */
@page :left {
    /* 左上角显示页码 */
    @top-left-corner {
        content: counter(page) "　";
        font-family: KaiTi;
        font-size: 8pt;
        color: cmyk(0,0,0,0.8);
        /* 颜色需使用CMYK色空间 */
    }

    /* 左上方显示章标题 */
    @top-left {
        content: "|　环院直通车";
        font-family: KaiTi;
        font-size: 8pt;
        color: cmyk(0,0,0,0.8);
    }
}

/* 正文页面，右侧页样式 */
@page :right {
    /* 右上角显示页码 */
    @top-right-corner {
        content: "　" counter(page);
        font-family: KaiTi;
        font-size: 8pt;
        color: cmyk(0,0,0,0.8);
    }

    /* 右上方显示节标题 */
    @top-right {
        content: string(subtitle) "　|";
        font-family: KaiTi;
        font-size: 8pt;
        color: cmyk(0,0,0,0.8);
    }
}

/* 正文空白页面，清除所有页边框内容 */
@page :blank {
    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }

    @top-right-corner {
        content: normal;
    }

    @top-left-corner {
        content: normal;
    }
}

/* 序章正文空白页面，清除所有页边框内容 */
@page chapter-title {
    margin-top: 40%;

    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }

    @top-right-corner {
        content: normal;
    }

    @top-left-corner {
        content: normal;
    }
}
