@charset "UTF-8";
/* 排版样式 */

@page {
    margin-top: 20mm;
    margin-bottom: 15mm;
    /* 如果要每页重置脚注号可以使用以下样式 */
    /* counter-reset: footnote; */
    size: A4 portrait;
    margin-inside: 21mm;
    margin-outside: 16mm;
}

@page :left {
    @top-left-corner {
        padding-top: 10mm;
        padding-right: 0.5em;
        padding-bottom: 4mm;
        background-color: cmyk(0,0,0,0.5,0.8);
        color: cmyk(0,0,0,0);
        content: counter(page);
        vertical-align: bottom;
        font-size: 15pt;
        font-family: Page;
    }

    @top-left {
        padding-top: 10mm;
        padding-bottom: 5mm;
        padding-left: 0.5em;
        border-bottom-right-radius: 10mm;
        background-color: cmyk(0,0,0,0.3,0.6);
        content: "环院直通车";
        vertical-align: bottom;
        font-size: 8pt;
        font-family: HeiTi;
    }
}

@page :right {
    @top-right-corner {
        padding-top: 10mm;
        padding-bottom: 4mm;
        padding-left: 0.5em;
        background-color: cmyk(0,0,0,0.5,0.8);
        color: cmyk(0,0,0,0);
        content: counter(page);
        vertical-align: bottom;
        font-size: 15pt;
        font-family: Page;
    }

    @top-right {
        padding-top: 10mm;
        padding-right: 0.5em;
        padding-bottom: 5mm;
        border-bottom-left-radius: 10mm;
        background-color: cmyk(0,0,0,0.3,0.6);
        content: string(subPage);
        vertical-align: bottom;
        font-size: 8pt;
        font-family: HeiTi;
    }
}

@page :blank {
    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }

    @top-right-corner {
        content: normal;
    }

    @top-left-corner {
        content: normal;
    }
}

@page chapter-title {
    @top-left {
        content: normal;
    }

    @top-right {
        content: normal;
    }

    @top-right-corner {
        content: normal;
    }

    @top-left-corner {
        content: normal;
    }
}

@page toc:right {
    background-image: url(../images/inside-mu-lu.jpg);
    background-position: left bottom;
    background-size: 70mm auto;
    background-repeat: no-repeat;
}